* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffd369;
}
.container {
  display: flex;
  width: 800px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(95, 95, 95, 0.285);
  overflow: hidden;
}
.image-container {
  width: 40%;
  background: url("favicon3.png") no-repeat center;
  background-size: cover;
}
.right-container {
  width: 60%;
  padding: 40px;
  text-align: center;
}
h2 {
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.checkbox-container input {
  width: auto;
  margin-right: 8px;
}
.btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover {
  background: #0056b3;
}
.google-btn {
  background: white;
  color: #333;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn img {
  width: 20px;
  margin-right: 10px;
}
.forgot-password {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
.forgot-password:hover {
  text-decoration: underline;
}
